* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.main > .child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 600px;
}
.game_board {
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}

.game_board .food {
  background-color: red;
}

.game_board .snake {
  background-color: greenyellow;
  transition: 0.5s ease;
}
.child > .score_board {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
